@charset "UTF-8";
/* CSS Document */

/*初期化*/
* {
    margin: 0px;
    padding: 0px;
    color:#4F4F4F;
}

li {
    list-style-type: none;
    list-style-position: outside;
}

header h1{
    margin-left: 100px;
}

h2{
  font-weight: 500;
  font-size: 1.2em;
  padding-top: 20px;
  margin-bottom: 50px;
}

h4{
    font-size: 0.8em;
    border-left:solid 4px #4F4F4F;
    padding-left: 10px;
    height: 15px;
    margin-bottom: 20px;
}

h3{
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 20px; 
    border-bottom: solid 1px #4F4F4F;
}

html{
    scroll-behavior: smooth;
}

/*横ならび*/
.side1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.side2{
    display: flex;
}

.space1{
    margin: 8px;
}

a:link{
    color:#4F4F4F;
    text-decoration: none;
}

a:visited{
    color:#4F4F4F;
}

header li:hover{
    opacity:0.6;
}

header h1:hover{
    opacity:0.6;
}

.search_container form:hover{
    opacity:0.6;
}

header p:hover{
    opacity:0.6;
}

body{
    background-color: #E6E6E6;
}

/*検索ボックス*/
.search_container{
  position: relative;
  box-sizing: border-box;
  margin-left: 350px;
}
.search_container input[type="text"]{
  border: none;
  height: 1.8em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container{
  border: 2px solid #4F4F4F;
  padding: 3px 5px;
  border-radius: 15px;
  height: 2.2em;
  width: 400px;
  overflow: hidden;
}
.search_container button{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #4F4F4F;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right:0px;
  top: -5px;
  outline : none;
  padding: 10px;
}
.search_container ::-webkit-input-placeholder {
  color: #4F4F4F;
}

#header-top{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

header h1{
    margin-top: -10px;
    padding-left: 50px;
}

.hdbtn{
    height: 40px;
    width: 120px;
    line-height: 40px;
    margin-right: 100px;
}

span.word{
    height: 32px;
    line-height: 32px;
    color:#4F4F4F;
}


#header-bottom ul{
    display: flex;
    justify-content: space-between;
}

#category {
    margin-left:160px;
    height:;
}

#my-page{
    margin-right: 135px;
}

#notice {
    margin-left: 600px; 
}

#header-bottom img{
    position: relative;
  /* 値は調整してください */
    top: 5px;
    left: -2px;
}

/*ヘッダー*/
header{
    width: 100%;
    position: fixed;
    border-bottom: solid 0.5px #A4A4A4;
    height:130px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    background-color: white;
    z-index: 80;
}

/*モーダルウィンドウ*/
#modal h2{
    font-size: 0.9em;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 20px;
    border-left:solid 4px #4F4F4F;
    padding-left: 10px;
    margin-left: 20px;
    height: 10px;
}

#modal input[type='text']{
    height: 30px;
    width: 150px;
}

#modal input[name='keyword']{
    height: 30px;
    width: 350px;
}

#modal table{
    margin: 0 auto;
    border-collapse: collapse;
}

#modal table td{
    height: 50px;
    line-height: 50px;
   

}

#modal table tr{
     border-bottom: solid 1px #E6E6E6;
}

#modal table td:first-child{
    width: 150px;
    font-size: 0.7em;
}

#modal select{
    height: 30px;
    width: 150px;
}

#modal input[type='radio']{
    color: #d01137;
}


#open
{
 cursor: pointer;
}

#close {

    cursor: pointer;
    height: 10px;
    width: 10px;
    line-height: 10px;
    margin: 0px 10px 0px auto;
    color: white;
    opacity: 80%;
}

#close img:hover{
    opacity: none;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 90;
  transition: 0.8s;
}

#modal {
  background: #fff;
  color: #555;
  width: 600px;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  transition: 0.8s;
}

#modal p {
  margin: 0 0 20px;
}

.btn1{
    border:none;
    height: 40px;
    width:250px;
    border:solid 1px black;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.btn1:hover{
    opacity: 60%;
}

.btn2{
    border:none;
    height: 40px;
    width:250px;
    background-color: #d01137;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn2:hover{
    opacity: 60%;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -700px);
}

#space{
    height:140px;
}

#wrapper{
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    border-top: solid 1px #FAFAFA;
     
}

#local-nav{
    width:340px;
}

#category-nav{
    width: 310px;
    height:620px;
    z-index: 30;

}

.contents-box{
    background-color: white;
    margin-left: 30px;
    margin-top:20px;
    box-shadow:0px 3px 3px 1px #ccc;
}

.content-wrap{
    padding:20px 25px 20px 25px;
}

.checkbox-input{
  display: none;
}
.checkbox-parts{
  padding-left: 15px;
  position:relative;
  margin-right: 15px;
}
.checkbox-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
 
  
}
.checkbox-input:checked + .checkbox-parts{
  color: #d01137;
}
.checkbox-input:checked + .checkbox-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #d01137;
  border-right: 3px solid #d01137;
}

.checkbox li{
    padding-top:10px; 
    font-size: 0.9em;

}

.checkbox li:hover{
    color:#d01137;
}

.checkbox span:hover{

    color:#d01137;

}

#category-nav img{
    position: relative;
  /* 値は調整してください */
    top: 5px;
    left: -2px;
}

#price-nav{
    width: 310px;
    height:auto;
    z-index: 30;
}

input.txt-box{
    width: 75px;
    height: 30px;
}

li{
    cursor: pointer;
}

label{
    cursor: pointer;
}

#condition-nav{
    width: 310px;
    height: auto;
}

#search-btn{
    width: 100%;
    background-color: #6F6F6F;
    color: white;
    margin-top:20px;
    display: block;
    position: relative;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #585858;
    border:none;
    box-shadow:  0px 2px 2px rgba(0,0,0,0.25);
}
#search-btn:hover {
     opacity:0.6;
     cursor: pointer;
     text-decoration: none;
}

footer{
    background-color: #1C1C1C;
    color: white;
    margin-top: 100px;
}

#footer-img p img{
    width: 100%;
    height: auto;
}

#footer-top{
    display: flex;
    margin-left: 130px;
    letter-spacing: 1px;
}
footer li{
    font-size: 0.7em;
    line-height: 1.5em;
    color:#BDBDBD;
    margin-bottom: 10px;
}

.footer-title{
    font-size: 0.9em;
    font-weight: 550;
    color: white;
    margin-bottom: 15px;

}

footer ul{
    width:170px;
    padding: 30px 20px 20px 20px;
}

#page-top-btn{
    display: block;
   margin-top: 60px;
   margin-left: 60px;
   border:solid 1px white;
   width: 150px;
   height: 30px;
   padding-left: 12px;
   border-radius: 15px;
   position: relative;

}

#page-top-btn:hover{
    opacity: 60%;
}

#page-top-btn a{
    position: absolute;
}


.white{
    font-size: 0.8em;
    color: white;
}

#page-top-btn img{
    position: relative;
  /* 値は調整してください */
    top: 6px;
    left: -2px;
}

#footer-bottom{
    display: flex;
    justify-content: space-between;
    height: 60px;

}

#footer-bottom img{
    margin-left: 140px;
}

#footer-bottom small{
    margin-right: 600px;
    line-height: 60px;
}

#monkey{
    position: absolute;
    position: fixed;
    top:130px;
    right: 20px;

}

#banana{
  position: absolute;
  position: fixed;
  top: 40px;
  left: 355px;
  z-index: 80;
}

#exhibit{
    display: inline-block;
    width: 130px;
    height: 130px;
    text-align: center;
    background-color: #FE2E2E;
    border-radius: 50%;
    position: relative;
    position: absolute;
    position: fixed;
    top:600px;
    right: 40px;
}

#exhibit:hover{
    opacity: 85%;

}

#exhibit a:first-child{
     
    position: absolute;
    left: 0px;
    top:25px;

}

#exhibit a:last-child{
    color: white;
    position: relative; 
    font-size: 1.1em;
}

.shadow{
  box-shadow:0px 3px 3px 1px #424242;
}

#main-page{
    width: 670px;
    height: auto;/*ページの長さ*/
}

#main-page img{
  border-radius: 50%;
}

#main-page li{
  text-align: center;
  font-size: 0.9em;
}

.space2 {
  margin-left: 10px;
  margin-bottom: 45px;
  justify-content: space-between;
  width: 560px;
}

.space2 ul:hover{
  opacity: 80%;
}


#main-contents{
    width: 640px;
    height: 1000px;/*メインコンテンツの長さ*/
    background-color: white;
    margin-left: 30px;
    margin-top: 20px;
}

#main-visual{
  width: 1280px;
  height: 500px;
}

#new-products{
  width: 1280px;
  height:150px;
}

#products-quantity{
  width:340px;
  height: 150px;
  background-color: #4F4F4F;

}

#products-quantity p{
  text-align: center;
}

#products-quantity p:first-child{
  width: 250px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: white;  
  font-size: 0.8em;
  text-align: center;
  margin-top: 25px;
  margin-left: 40px;
}

#products-quantity p:last-child{
  color: white;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 0.8em;
  text-align: center;
  margin-top: 20px;
  margin-left: 60px;
  border-bottom: solid 1px white;
}

#new-contents{
  width:960px;
  height: 150px;
  background-color: white;
}

#new-contents p{
  margin-left: 17px;
  margin-top: 10px;
}

#new-contents p:last-child{
  margin-top: 60px;
}

#new-contents a:hover{
  opacity: 60%;
}

.large-word{
  font-size: 1.4em;
  font-weight: 500;
}

.wlarge-word{
  color: white;
  font-size: 1.3em;
  font-weight: 500;
}

#history-contents{
  width: 340px;
}

#history-content{
  width:270px;
  height: auto;
}

.history-wrap{
  width:220px;
  height: 100px;
  justify-content: center;
  border-bottom: solid 1px #E6E6E6;
}

.history-wrap:last-child{
    border-bottom: none;
}

.history-wrap li:first-child{
  margin-right: 30px;
}

#history-contents ul{
  text-align: center;
  margin-top: 20px;

}

#history-contents ul li:last-child{
  font-size: 0.8em;  
  margin-top: 20px;
}

